{# <?php #}

{% macro flashMessageScript(message, type) %}
    <div class="alert alert-{{ type }}">{{ message }}</div>
{% endmacro %}

{% if flashMessenger().hasMessages('default') %}
    {{ _self.flashMessageScript(flashMessenger().render('default'), 'info') }}
{% endif %}

{% if flashMessenger().hasMessages('info') %}
    {{ _self.flashMessageScript(flashMessenger().render('info'), 'info') }}
{% endif %}

{% if flashMessenger().hasMessages('success') %}
    {{ _self.flashMessageScript(flashMessenger().render('success'), 'success') }}
{% endif %}

{% if flashMessenger().hasMessages('warning') %}
    {{ _self.flashMessageScript(flashMessenger().render('warning'), 'warning') }}
{% endif %}

{% if flashMessenger().hasMessages('error') %}
    {{ _self.flashMessageScript(flashMessenger().render('error'), 'danger') }}
{% endif %}

{% block bottom_javascripts %}
    <script>

        //toastr["success"]("My name is Inigo Montoya. You killed my father. Prepare to die!")
        //@todo finir notification toastr

        {% if flashMessenger().hasMessages('default') == '1'%}
            var message = {{ flashMessenger().render('default') }}
            toastr["info"](message)
        {% endif %}

        {% if flashMessenger().hasMessages('info')  == '1'%}
            var message = {{ flashMessenger().render('info') }}
            toastr["info"](message)
        {% endif %}

        {% if flashMessenger().hasMessages('success')  == '1'%}
            var message = {{ flashMessenger().render('success') }}
            toastr["success"](message)
        {% endif %}

        {% if flashMessenger().hasMessages('warning')  == '1'%}
            var message = {{ flashMessenger().render('warning') }}
            toastr["warning"](message)
        {% endif %}

        {% if flashMessenger().hasMessages('error') == '1'%}
            var message = {{ flashMessenger().render('error') }}
            console.log(message)
            toastr["error"](message)
        {% endif %}

    </script>
{% endblock %}
